body {
margin: 0px;
 overflow-x: hidden;
  min-width: 640px;
  max-width: 100%;
}
#container {
width:100%;
}
#pie{
margin-top:100px;
background-color:#A4A4A4;
	width:130%;
	height:300px;
}
#logo {
text-align: center;
width: 100%;
height: 300px;
background-color: #fff;
}
#logo img{
width: 40%;
}
#txWelcome{
float: left;
width: 100%;
height: 100px;
background-color: #fff;
text-align: center;
}
#txWelcome p{
 text-align: center;
}
#txWelcome form{
 text-align: center;
}
#header{
 width: 100%;
 height: 60px;
 background-color: #0080FF;
}
#headerMargen{
float:left;
 width: 45%;
 height: 60px;
 background-color:#FFF;
}
#headerMargen img{
width:20%;
}
#headerNombre{
float:left;
 width: 45%;
 height: 60px;
 font-size:18px;
 color:#FFF;
 font-family:'Raleway';
 text-align:right;
}
#headerSalir{
float:left;
 width: 10%;
 height: 60px;
 background-color:#A4A4A4;
 cursor:pointer;
  background-image:url(assets/images/btnSalir.png);
}
#headerSalir:hover{
  background-image:url(assets/images/btnSalirHover.png);
}
 #headerSalir:hover{
color:#A4A4A4;
}
#headerSalir img{
float:left;
width:40%;
margin-left: 3%;
}
#headerSalir p{
margin-left: 3%;
color:#FFF;
}
#btnSalir{
float:left;
font-size:18px;
font-family:'Raleway';
text-align:center;
}
#margenMosaicos{
float:left;
background-color: #FFF;
width:100%;
height:50px;
}
#mosaicos{
 width: 100%;
 height: 300px;
 background-color: #fff;
 margin-left:3%;
margin-right:3%;
}
#mosaico1 {
float: left;
 width: 33.3%;
 height: 350px;
 background-color: #FE2E2E;
}
#nombreMosaico1 {
width: 100%;
height: 80px;
background-color: #FE2E2E;
margin-top:20px;
}
#log{
	float:left;
margin-top:40px;
margin-left:3%;
 width: 40%;
 height: 200px;
 background-color: #0080FF;
}
#logNombre{
 width: 100%;
 height: 40px;
 background-color: #0080FF;
 color:#FFF;
}
#logTexto{
position:relative;
margin-left:0px;
 width: 100%;
 height: 160px;
 background-color: #FFF;
}
#logTexto p{
margin-left:30px;
}
#icono{
	margin-top:60px;
	float:left;
	width:34%;
	height:200px;
	float:left;
	text-align:center;
}
#softphone{
margin-top:40px;
margin-left:-3%;
float:left;
width:22%;
-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
}
#softphone:hover{
-webkit-transform: translate(-70%, 0%);
-moz-transform: translate(-70%, 0%);
-o-transform: translate(-70%, 0%);
-ms-transform: translate(-70%, 0%);
transform: translate(-70%, 0%);
}
#soft{
	float:left;
height:340px;
width:70%;
background-color: #0080FF;
margin-top:-179px;
 cursor:pointer;
 border-radius: 10px;
 box-shadow: 10px 10px 10px 5px #888;
}
#screen{
float:left;
width:90%;
height:50px;
margin-top: 5%;
margin-left: 5%;
margin-right:5%;
margin-bottom:5%;
background-color: #0080FF;
}
#numbers{
float:left;
width:90%;
height:160px;
background-color: #0080FF;
margin-top: 5%;
margin-right:5%;
margin-bottom:5%;
margin-left: 5%;
}
#buttons{
	position:left;
float:left;
width:90%;
height:60px;
background-color: #0080FF;
margin-top: 5%;
margin-right:5%;
margin-bottom:5%;
margin-left: 5%;
text-align:center;
}
#buttons img{
	margin-top:-20px;
	 text-align: center;
}
#phone {
	float:left;
}
#line{
float:left;
width:100%;
height:5px;
background-color: #04B4AE;
}
#footer {
font-size:14px;
font-family:'Raleway';
float:left;
background-color: #2E2E2E;
width:100%;
height:400px;
}
#logosFooter {
width: 100%;
height:170px;
text-align:center;
}
#logosFooter img{
width: 10%;
margin-left: 10%;
margin-right:10%;
margin-top:5%;
}
#logosNombres{
width: 100%;
height: 70px;
}
#nombresFooter {
text-align:center;
color:#FFF;
}
#panelControl{
width:100%;
height:600px;	
}
#panelIzquierdo{
width:50%;
height:600px;	
float:left;
}
#panelDerecho{
width:50%;
height:600px;	
float:left;
}
.panel{
float:left;
width: 80%;
height: 200px;
}
.panelNombre{
 width: 100%;
 height: 40px;
 color:#FFF;
}
.panelTexto{
position:relative;
margin-left:0px;
 width: 100%;
 height: 160px;
 background-color: #FFF;
}
.lg {
float: left;
width: 33.3%;
text-align:center;
color: #FFF;
margin-top:25px;
}
.number{
float:left;
width:27%;
height:30px;
margin-left: 5%;
margin-bottom:5%;
background-color:#A4A4A4;
text-align:center;
color:#FFF;
font-size:13px;
font-family: 'Raleway';
font-weight:bold;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.number:hover{
background-color:#2E2E2E;
}
.number p{
margin-top:8%;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.mosaico {
float: left;
 width: 30%;
 height: 300px;
 background-color: #fff;
box-shadow: 10px 10px 5px #888888;
}
.mosaico img{
width: 10%;
}
.nombreMosaico {
width: 100%;
height: 80px;
background-color: #fff;
margin-top:20px;
color:#FFF;
}
.nombreMosaico img{
float:left;
margin-left: 3%;
}
.nombreMosaico p{
float:left;
margin-left:3%;
color:#FFF;
margin-top: 10px;
font-weight: bold;
}
.videoMosaico{
width: 100%;
margin-top:20px;
background-color: #FFF;
text-align: center;
}


